<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Fandom Tagger</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/?do=true">Tag Image</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="ui-widget">
    <div class="col-md-3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Suggested Tags</li>
                {% for tag in suggested_tags %}
                <li><a href="#">{{tag}}</a></li>
                {% endfor %}
            </ul>
        </div><!--/.well -->
    </div>
    <div class="col-md-3">
        <form action="/tag" class="navbar-form " method="get">
            <div class="row">
                <label for="tag1">Tag1: </label>
                <input id="tag1" name="tag1">
            </div>
            <div class="row">
                <label for="tag2">Tag2: </label>
                <input id="tag2" name="tag2">
            </div>
            <input type="hidden" name="url" value="{{url}}"/>
            <input type="hidden" name="title" value="{{title}}"/>
            <div class="row">
                <div><input type="submit" value="Tag Photo"></div>
            </div>
        </form>
    </div>
    <div class="col-md-6">

        {% if youtubeid%}
        <iframe id="ytplayer" type="text/html" width="640" height="390"
                src="http://www.youtube.com/embed/{{youtubeid}}"
                frameborder="0"/>
        {% else %}
        <img src="{{url}}"/>
        {% endif %}
    </div>
</div>

<script>
    $(function(){
        availableTags = [
            {% for tag in tags %}
            "{{tag}}",{% endfor %}
        ];
        $("#tag1").autocomplete({source: availableTags});
        $("#tag2").autocomplete({source: availableTags});
    });

</script>


</body>
</html>
{% endautoescape %}
